{
    "forEach": "entities",
    "filename": "src/main/java/{{pathCase $.group}}/{{camelCase $.name}}/entity/{{pascalCase name}}Entity.java"
}
---
package {{dotCase $.group}}.{{camelCase $.name}}.entity;

import jakarta.persistence.*;
import lombok.*;

/**
 * {{{description}}}
 */
@Entity
@Table(name = "\"{{snakeCase name}}\"")
@Data
public class {{pascalCase name}}Entity {
    /**
     * The unique identifier for the {{capitalCase name}}
     */
    @Id
    @Column(name = "{{snakeCase name}}_id", nullable = false)
    private String id;

{{#each attributes}}
    /**
     * {{{description}}}
     */
    @Column(name = "\"{{snakeCase name}}\"", nullable = true, insertable = true, updatable = true)
    private {{type.java}} {{camelCase name}};
{{/each}}
{{#each associations}}
    /**
     * {{{description}}}
     */
    @ManyToOne(fetch = FetchType.LAZY, optional = true)
    @JoinColumn(name = "{{snakeCase name}}_id", nullable = true, insertable = true, updatable = true)
    private {{pascalCase type.name}}Entity {{camelCase name}};
{{/each}}
}